

body {
  background-color:#222222;
  font-family: Verdana, sans-serif;
  height: 100%;
  margin: 0;
  height: 100vh;
}


button {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin: 0 20px;
  padding: 6px 30px;
}

button:hover {
  background-color: #11992e;
}

input {
  margin-left: 10px;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

input:focus {
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
  font-weight:700;    

}

.input-message {
  display: flex;
  width: 100%;
  bottom: 0;

}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  overflow-y: scroll;
}

.message {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 50%;
  
}

.sent {
  background-color: #11992e;;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.received {
  background-color: rgb(88, 115, 231);
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.author {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.timestamp {
  display: none;
}

.ago {
  font-size: 12px;
  color: #333;
  text-align: right;
  margin-top: 5px;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbb;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
